<p id="notice"><%= notice %></p>

<p>
  <b>Winner:</b>
  <%= @note.winner %>
</p>

<p>
  <b>Steps:</b>
  <%= @note.steps %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
